.cart {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



#cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-item h3 {
    flex-grow: 1;
    margin: 0;
    font-size: 18px;
    color: #333;
}

.cart-item p {
    margin: 0;
    font-size: 16px;
    color: #2874f0;
}
